.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0 auto;
    max-width: 840px;
}

.panelChild {
    margin: auto 1em auto 1em;
}

img.database {
    width: auto;
    height: auto;
    /*width: 15em;*/
    /*max-height: 100%;*/
    max-width: 360px;
}

p.database {
    width: 480px;
}

h1.database {
    text-align: center;
}

a.database {
    display: inline;
}

a:link.database {
    color: blue;
    text-decoration: underline;
}
a:visited.database {
    color: purple;
    text-decoration: underline;
}
a:hover.database {
    color: hotpink;
    text-decoration: underline;
}
a:active.database {
    color: red;
    text-decoration: underline;
}
