.panel {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1em auto 1em auto;
}

.panelChild {
    margin: auto 1em auto 1em;
}

img.database {
    /*width: 15em;*/
    max-height: 100%;
    max-width: 100%;
}

p.database {
    width: 30em;
}

h1.database {
    text-align: center;
}

a.database {
    display: inline;
}

a:link.database {
    color: blue;
    text-decoration: underline;
}
a:visited.database {
    color: purple;
    text-decoration: underline;
}
a:hover.database {
    color: hotpink;
    text-decoration: underline;
}
a:active.database {
    color: red;
    text-decoration: underline;
}
